<div class="header-container">
  <div class="link-container">
    <a href="/">HOME</a>
    <a href="/academyAll">allAcademy</a>
    <a href="/coursesAll">allCourses</a>
    <a href="/createCourse">CreateCourse</a>
    <a href="/createAcademy">CreateAcademy</a>
  </div>

  <div class="link-container">
    <a href="/login">Login</a>
    <a id="signUp" href="/users/new">signUp</a>
    <a class="hidden" href="/logout">Logout</a>
  </div>
</div>
