<div class="header-container">
  <div class="link-container">
    <a href="/">HOME</a>
    <a href="/allAcademy">allAcademy</a>
    <a href="/allCourses">allCourses</a>
  </div>

  <div class="link-container">
    <a href="/login">Login</a>
    <a id="signUp" href="/signup">signUp</a>
    <a class="hidden" href="/api/v1/users/logout">Logout</a>
  </div>
</div>
