<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Academy</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <header><%- include("partials/header") %></header>
  <body>
    <main>
      <div class="card-container">
        <% academy.forEach((academy)=>{%>
        <div class="academy-container">
          <div class="card-name"><p><%=academy.name %></p></div>
          <div class="card-adress"><p><%=academy.address %></p></div>
          <div class="readmore-link"></div>
        </div>
        <%}) %>
      </div>
    </main>
  </body>
</html>
