<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Courses</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <header><%- include("partials/header") %></header>
  <body>
    <main>
      <div class="maininfo-container">
        <div class="title-container">
          <h2>Name of course:<%=course.name %></h2>
          <h4>Address:<%=course.address %></h4>
          <h4>Region:<%=course.teritory %></h4>
        </div>
        <div></div>
        <div></div>
      </div>
    </main>
  </body>
</html>
